<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="regular/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
</head>
<body>
	<section>
		<div class="card mr-4 ml-2">
			<div class="card-body">
				
				<!-- Message -->
				<div th:if="${session.message}"
					th:classappend="${session.message.type}" class="alert"
					role="alert">
					<p class="text-center" th:text="${session.message.content}"></p>
					<th:block th:text="${#session.removeAttribute('message')}"></th:block>
				</div>
				
				<h1 class="text-center">Add Contact</h1>
				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-8 offset-md-2">
							<form action="#" th:object="${contact}"
								enctype="multipart/form-data" method="POST" class="mt-2"
								th:action="@{/user/process-contact}">

								<!-- First Name -->
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											<i class="fa fa-user"></i>
										</div>
									</div>

									<input required type="text"
										id="firstName" name="name" placeholder="Enter your First Name"
										class="form-control"
										th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}">

									<div class="invalid-feedback ml-custom"
										th:each="e: ${#fields.errors('name')}" th:text="${e}"></div>
								</div>

								<!-- Second Name -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											<i class="fa fa-plus"></i>
										</div>
									</div>

									<input type="text"
										id="secondName" name="secondName"
										placeholder="Enter your Nickname" class="form-control">
								</div>


								<!-- Phone Name -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											<i class="fa fa-phone"></i>
										</div>
									</div>

									<input required type="text" id="phone" name="phone"
										placeholder="Enter your Phone Number" class="form-control"
										th:classappend="${#fields.hasErrors('phone') ? 'is-invalid':''}">

									<div class="invalid-feedback ml-custom"
										th:each="e: ${#fields.errors('phone')}" th:text="${e}"></div>
								</div>

								<!-- Email Name -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											<i class="fa fa-envelope"></i>
										</div>
									</div>

									<input type="email" id="email"
										name="email" placeholder="Enter your Email "
										class="form-control"
										th:classappend="${#fields.hasErrors('email') ? 'is-invalid':''}">

									<div class="invalid-feedback ml-custom"
										th:each="e: ${#fields.errors('email')}" th:text="${e}"></div>
								</div>

								<!-- Work -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											<i class="fa fa-briefcase"></i>
										</div>
									</div>

									<input type="text" id="work"
										name="work" placeholder="Enter your Work Place"
										class="form-control">
								</div>

								<!-- Desc -->
								<div class="form-group mt-3">
									<textarea placeholder="Enter your Description" id="mytextarea"
										name="description" class="form-control" rows=20></textarea>
								</div>

								<!-- Image -->
								<!-- <input type="file" name="profileImage"> -->
								<div class="form-group">
									  <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>
									
									  <div class="image-upload-wrap">
									    <input class="file-upload-input" type='file' name="profileImage" onchange="readURL(this);" accept="image/*"  />
									    <div class="drag-text">
									      <h3>Drag and drop a file or select add Image</h3>
									    </div>
									  </div>
									  
									  <div class="file-upload-content">
									    <img class="file-upload-image"/>
									    <div class="image-title-wrap">
									      <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
									    </div>
									  </div>
								</div>

								<!-- Submit -->
								<div class="container text-center mt-3">
									<button class="btn btn-outline-primary">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script>
			$(document).ready(() => {
				$("#add-contact-link").addClass("active");
			});
		</script>
		
	</section>
</body>
</html>