<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="regular/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
</head>
<body>
	<section>
		<div class="card mr-4 ml-2">
			<div class="card-body">
				<h1 class="text-center">Update User</h1>
				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-8 offset-md-2">
							<form action="#" th:object="${user}"
								enctype="multipart/form-data" method="POST" class="mt-2"
								th:action="@{/user/process-user-update}">

								<input type="hidden" name="user_Id" th:value="${user.id}" />

								<!-- First Name -->
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											<i class="fa fa-user"></i>
										</div>
									</div>

									<input required type="text" th:value="${user.name}"
										id="firstName" name="name" placeholder="Enter your First Name"
										class="form-control"
										th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}">

									<div class="invalid-feedback ml-custom"
										th:each="e: ${#fields.errors('name')}" th:text="${e}"></div>
								</div>

								<!-- Email Name -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											<i class="fa fa-envelope"></i>
										</div>
									</div>

									<input required type="email" th:value="${user.email}" id="email"
										name="email" placeholder="Enter your Email "
										class="form-control"
										th:classappend="${#fields.hasErrors('email') ? 'is-invalid':''}">

									<div class="invalid-feedback ml-custom"
										th:each="e: ${#fields.errors('email')}" th:text="${e}"></div>
								</div>

								<!-- DOB -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											<i class="fa fa-birthday-cake"></i>
										</div>
									</div>

									<input required th:value="${user.dob}" type="date" name="dob"
										id="dob" class="form-control input-text"
										th:classappend="${#fields.hasErrors('dob') ? 'is-invalid':''}">
									<div class="invalid-feedback"
										th:each="e: ${#fields.errors('dob')}" th:text="${e}"></div>

								</div>

								<!-- Desc -->
								<div class="form-group mt-3">
									<textarea placeholder="Enter your Description"
										th:text="${user.about}" id="mytextarea"
										name="about" class="form-control" rows=20></textarea>
								</div>

								<!-- Image -->
								<div class="container">
									<input type="hidden" name="imageUrl" th:value="${user.imageUrl}" />
									<img style="height: 150px; width: 150px;"
										class="img-fluid my-profile-picture" src=""
										th:src="@{'/img/'+${user.imageUrl}}" alt="" />
								</div>

								<div class="file-upload">
									<button class="file-upload-btn" type="button"
										onclick="$('.file-upload-input').trigger( 'click' )">Add
										Image</button>

									<div class="image-upload-wrap">
										<input class="file-upload-input" type='file'
											name="profileImage" onchange="readURL(this);"
											accept="image/*" />
										<div class="drag-text">
											<h3>Drag and drop a file or select add Image</h3>
										</div>
									</div>

									<div class="file-upload-content">
										<img class="file-upload-image" />
										<div class="image-title-wrap">
											<button type="button" onclick="removeUpload()"
												class="remove-image">
												Remove <span class="image-title">Uploaded Image</span>
											</button>
										</div>
									</div>
								</div>

								<!-- Submit -->
								<div class="container text-center mt-3">
									<button class="btn btn-outline-primary">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			$(document).ready(() => {
				$("#profile-link").addClass("active");
			});
		</script>
	</section>
</body>
</html>